@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,.8);
}

/* Die verwendete Schriftart: Lato
Die background-color ist #D9E8E5, der graue Text ist rgba(0,0,0,.8)
Nutze margin: auto um die letzten beiden Menüpunkte an den rechten Rand zu positionieren
Nutze flex-wrap: wrap für die Bildergalerie. */


/*----------header-------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header div:nth-of-type(1){
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 30rem;
    /* flex: auto; */
}

nav ul a{
    text-decoration: none;
}



header div:nth-of-type(2) ul{
    display: flex;
    gap: 40px;
    margin-right: 50px;
    list-style: none;
}

header div:nth-of-type(2) ul li a{
    text-decoration: none;

}

/*-----------main--------------*/



main{
    background-color: #D9E8E5;
    height: 90vh;
}

main section{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}


article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    padding-top: 5rem;
    margin-left: 3rem;
}

main section article div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.div1{
    background-image: url(../img/ring001.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.div2{
    background-image: url(../img/ring002.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.div3{
    background-image: url(../img/ring003.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.div4{
    background-image: url(../img/ring004.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.div5{
    background-image: url(../img/ring005.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.div6{
    background-image: url(../img/ring006.png);
    width: 350px;
    height: 200px;
    border-radius: 15px;
}