*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
}

section img{
    padding: 10px;
    width: 25%;
}